# Maven: Ignorar binarios y reportes
target/

# NetBeans: Ignorar configuraciones privadas del usuario
nbproject/private/
build/
nbbuild/
dist/

# Logs y temporales
*.log
nbactions.xml
nb-configuration.xml

# Eclipse 
.settings/
.project
.classpath

/Presentacion/target/
/Persistencia/target/
/Persistencia/nbproject/
/Negocio/target/
/Excepcion/target/
/Negocio/nbproject/
