# ===== Maven / compilación =====
target/
**/target/
*.jar
*.war
*.ear
*.lst

# ===== NetBeans =====
nbproject/private/
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# ===== Archivos generados por Maven =====
**/maven-archiver/
**/maven-status/
**/surefire-reports/

# ===== Logs y temporales =====
*.log
*.tmp
*.bak

# ===== Configuración local =====
nbactions.xml
nb-configuration.xml

# ===== Eclipse =====
.settings/
.project
.classpath
